//Font import

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

//Colors

$clearcolor: #e2e2e2;
$trans-gray-color: rgba(255, 255, 255, 0.25);
$light-gray-1: #bcbcbc;
$dark-color: #15141f;
$peach-gradient: linear-gradient(244.07deg, #ff8f71 47.24%, #ef2d1a 120.34%);

//font

$font: "Lato", sans-serif;

//App

body {
  background-color: $dark-color;
  color: $clearcolor;
  font-family: $font;
  padding-bottom: 100px;
}

Link {
  font-family: $font;
  text-decoration: none;
  color: $clearcolor;
}

.menuLinks {
    background-color: $dark-color;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-decoration: none;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  padding-left: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0px;

  z-index: 5;
}

.homeLogo {
  width: 24px;
  height: 26px;
}

.discoverLogo {
  width: 26px;
  height: 26px;
}

.profilLogo {
  width: 22px;
  height: 26px;
}

//Discover

.discScroll {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 60px;
  max-width: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 24px;
  padding-right: 24px;
}

.discLink {
  font-family: $font;
  text-decoration: none;
  color: $clearcolor;
  font-weight: 400;
  font-size: 16px;
  margin-right: 20px;
  &:focus {
    background: $peach-gradient;
    background-clip: text;
    color: transparent;
  }
}

.genreFocus {
  display: table;
  padding-bottom: 8px;
  background: $peach-gradient;
  background-clip: text;
  color: transparent;
  &:after {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #ff8f71;
    padding-bottom: 8px;
    content: "";
    display: block;
    width: 35%;
  }
}

//titre

h1 {
  color: white;
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-left: 29px;
  margin-top: 33px;
  margin-bottom: 25px;
  span {
    background: $peach-gradient;
    background-clip: text;
    color: transparent;
  }
}

//home

.trendImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 24px;
  margin-top: 8px;
  height: 191px;
  .trendImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}

.screenTrendLegend {
  height: 62px;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: rgba(218, 218, 218, 0.3);
  backdrop-filter: blur(4.81px);
  -webkit-backdrop-filter: blur(4.81px);
  border-radius: 20px;
  border-width: 1px;
  border-style: outset;
  border-color: $trans-gray-color;
  position: absolute;
  bottom: 8px;
  left: 12px;
}

.screenTrendPlay {
  width: auto;
  height: 28px;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 20px;
  margin-right: 24px;
}

.screenTrendText {
  margin: auto 0;
  margin-right: 12px;
}

.screenTrendSpotlight {
  font-family: $font;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  color: $light-gray-1;
}

.screenTrendTitle {
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  padding-top: 0;
  margin-top: 4px;
  color: white;
}

//detail

.detailFrontImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 0;
  height: 287px;
  margin-bottom: 24px;
  .detailFrontImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .detailFrontGradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 28.65%,
      rgba(0, 0, 0, 0) 64.06%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  .detailPlayButton {
    height: 25.5px;
    width: 22.5px;
    margin: auto;
    filter: drop-shadow(5px 5px 10px rgba(254, 86, 70, 0.15));
    -webkit-filter: drop-shadow(5px 5px 10px rgba(254, 86, 70, 0.15));
  }
  .detailPlayButtonContainer {
    position: absolute;
    display: flex;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    background: linear-gradient(
      141.08deg,
      rgba(255, 255, 255, 0.25) 13.56%,
      rgba(255, 255, 255, 0) 85.76%
    );
    backdrop-filter: blur(4.81px);
    border-radius: 32px;
    border-width: 1px;
    border-style: outset;
    border-color: $trans-gray-color;
    cursor: pointer;
    z-index: 2;
  }
  .pathImageContainer {
    position: absolute;
    top: 52px;
    left: 37px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
  }
  .pathImage {
    height: 28px;
    width: 16px;
    cursor: pointer;
  }
}

.detailInfosContainer {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    .detailTitleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        .detailTitle {
            font: {
                weight: 500;
                size: 24px;
            }
            line-height: 29px;
            letter-spacing: 0.02em;
            color: white;
            margin: 0;
            margin-right: 8px;
        }
        .detailRes {
            padding: 4px 8px;
            margin: 0;
            font: {
                weight: 400;
                size: 12px;
            }
            letter-spacing: 0.02em;
            color: #E0E0E0;
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(4.81px);
            -webkit-backdrop-filter: blur(4.81px);
            border: {
                style: outset;
                color: $trans-gray-color;
                width: 1px;
                radius: 5px;
            }
        }
    }
    .detailAddInfosContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        margin-right: 24px;
        padding-bottom: 18px;
        border-bottom: 0.2px solid #515151;
        .detailDurationImage {
            margin-right: 6px;
            width: 12px;
            height: 12px;
        }
        .detailDuration {
            margin: 0;
            font: {
                size: 12px;
                weight: 400;
            }
            color: $light-gray-1;
            margin-right: 18px;
        }
        .detailRateImage {
            height: 12px;
            width: 12px;
            margin-right: 6px;
        }
        .detailRate {
            margin: 0;
            font: {
                size: 12px;
                weight: 400;
            }
            color: $light-gray-1;
        }
    }
}

.detailInfosTwoContainer {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 16px;
    border-bottom: 0.2px solid #515151;
    p {
        margin: 0;
    }
    .detailReleaseContainer {
        margin: 0;
        margin-right: 47px;
        .detailReleaseTitle {
            font: {
                size: 16px;
                weight: 500px;
            }
            color: white;
            margin-bottom: 12px;
        }
        .detailReleaseDate {
            font: {
                size: 12px;
                weight: 400;
            }
            color: $light-gray-1
        }
    }
    .detailGenresContainer {
        .detailGenresTitle {
            font: {
                size: 16px;
                weight: 500;
            }
            color: white;
            margin-bottom: 8px;
        }
        .detailGenresGroup {
            display: flex;
            flex-direction: row;
            .detailGenre {
                font: {
                    size: 12px;
                    weight: 400;
                }
                color: $light-gray-1;
                padding: 4px 12px;
                background-color: rgba(250, 240, 202, 0.05);
                backdrop-filter: blur(4.81px);
                border-radius: 15px;
                margin-right: 12px;
                border: {
                    style: outset;
                    color: $trans-gray-color;
                    width: 1px;
                }
                text-decoration: none;
            }
        }
    }
}

.detailSynopsisContainer {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
    p {
        margin: 0;
    }
    .detailSynopsisTitle {
        font: {
            size: 16px;
            weight: 500;
        }
        color: white;
        margin-bottom: 12px;
    }
    .detailSynopsis {
        font: {
            size: 14px;
            weight: 400;
        }
        color: $light-gray-1;
    }
}

.detailRelatedMoviesContainer {
    height: 106px;
    margin-bottom: 30px;
    p {
        margin: 0;
    }
    .detailRelatedMoviesTitle {
      margin-left: 24px;
        font: {
            size: 16px;
            weight: 500;
        }
        color: white;
        margin-bottom: 16px;
    }

    .relatedFilmSlide {
      position: relative;
      .relatedLink {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        text-decoration: none;
        p {
          margin: 0;
          font: {
            size: 12px;
            weight: 400;
          }
          span {
            font-weight: 500;
            color: $light-gray-1;
          }
        }

        .relatedFilmImageContainer {
          position: relative;
          display: flex;
          height: 106px;
          width: 100%;
        }
      }
      .relatedFilm {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 12px;
      }
    }
}

.relatedGradient {
  position: absolute;
  top: 0;
  height: 106px;
  width: 100%;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 20px;
  z-index: 3;
}

//home slider

.trendingTitle {
  margin-top: 31px;
  margin-left: 24px;
  margin-bottom: 24px;
  font: {
    size: 24px;
    weight: 400;
  }
  color: white;
}

.slide {
  width: 258px;
  height: 359px;
  margin: 0;
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  justify-items: center;
  text-align: center;

  .otherTrendsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;

  .otherTrendsLink {
    position: relative;

  }
  }
}

.trendsTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  position: absolute;
  width: 90%;
  margin-left: 5%;
  height: 82px;
  bottom: 21px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4.81px);
  -webkit-backdrop-filter: blur(4.81px);
    border-radius: 20px;
    border-width: 1px;
    border-style: outset;
    border-color: $trans-gray-color;
    cursor: pointer;
    z-index: 2;
}

.trendsTitle {
  margin: 0;
  text-decoration: none;
  font: {
    weight: 400;
    size: 16px;
  }
  color: white;
}

.trendsIMDb {
    font: {
        size: 8px;
        weight: 400;
    }
    padding-top: 6px;
    padding-left: 12px;
    padding-bottom: 3px;
  }

.otherTrendsRate {
  position: absolute;
  text-align: left;
  width: 77px;
  height: 49px;
  top: 17px;
  right: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4.81px);
  -webkit-backdrop-filter: blur(4.81px);
  border-radius: 15px;
  border-width: 1px;
  border-style: outset;
  border-color: $trans-gray-color;
  cursor: pointer;
  z-index: 2;
  color: white;
  
  p {
    margin: 0;
  }
  .otherTrendsRateStarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    .trendsStarRate {
      width: 16px;
      height: 16px;
      margin-right: 9px;
      padding-left: 12px;
    }
    .trendsRateNumber {
      font: {
        size: 16px;
        weight: 400;
      }
    }
  }
}

.otherTrendsGradient {
  position: absolute;
  top: 0;
  height: 359px;
  width: 100%;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 42.1%, rgba(0, 0, 0, 0.7) 100%);
  border-radius: 30px;
  z-index: 1;
}

//Search and Genres

.searchAllContainer {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  .searchStyleContainer {
    min-height: 800px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.searchResultsContainer {
  width: 170px;
  height: auto;
  display: flex;
  margin-top: 20px;
  padding: 0;
  .searchFilmImageContainer{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    width: 170px;
    height: auto;
    flex-shrink: 0;
  }
  .searchFilm {
    display: flex;
    width: 170px;
    height: auto;
    border-radius: 20px;
  }

  .searchLink {
    text-decoration: none;
  }

  .searchFilmTitle {
    margin: 0;
    margin-top: 12px;
    color: white;
    text-decoration: none;
    padding: 0;
    font: {
      size: 16px;
      weight: 400;
    }
    span {
      text-decoration: none;
      font-weight: 500;
      color: $light-gray-1;
    }
  }
}

.searchGradient {
  position: absolute;
  display: flex;
  top: 0;
  height: 100%;
  width: 170px;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 20px;
  z-index: 3;
}

//Search Bar

.searchBar {
  display: flex;
  align-items: center;
  margin: 0 24px;
  margin-bottom: 23px;
  background-color: #211F30;
  padding: 12px;
  border-radius: 20px;
  img {
    margin-right: 16px;
  }
  input {
    width: 100%;
    background-color: #211F30;
    border: none;
    font: {
      size: 14px;
      family: $font;
      weight: 500;
    }
    color: rgba(187, 187, 187, 0.5);
    &:focus {
      outline: none;
    }
  }
  
}